<?xml version="1.0"?>
<!--
/**
 * @author      Edson Tolazzi <edson.tolazzi@universo.univates.br>
 * @copyright   2023 Edson Tolazzi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="intelligence" frontName="bi">
            <module name="Tolazzi_BusinessIntelligence"/>
        </route>
    </router>
</config>